td, img, th
{


border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */

}

img
{

width:170px;
height:110px;
}

h5
{
color: white;
}

h
{
color: black;
text-align:center;
}

h4, h2, h3, h1
{
text-align:center;
}

