header { 
  
    width: 1260px;
	height:110px;	
    background-color:#191970; 
    background-repeat:no-repeat; 
	border-radius:10px;
	-moz-border-radius:15px; 
}

section
{
text-align:center;
}

footer
{
	text-align:center;
	width: 1260px;
	height:30px;	
    background-color:#4169E1; 
    background-repeat:no-repeat; 
	border-radius:10px;
	-moz-border-radius:15px; 
}

img
{

width:160px;  
height:110px;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */

}

h5
{

color: white;
text-align: right;
}

h6
{
color: white;
}

td, th
{
border-radius:10px;
	-moz-border-radius:15px; 
}

